<nav
class="p-2  bg-gray-800 shadow md:flex md:items-center text-white md:justify-between"
>
<div class="flex ml-10 justify-between items-center">
  <a
	class="text-3xl font-bold hover:text-4xl duration-1000 item-center cursor-pointer inline-flex"
  >
	<span class=""><i class="fa-solid fa-circle-down"></i></span>
	<span class="text-white">you</span>
	<span class="text-red-400">Down</span>
  </a>

  <span class="text-3xl cursor-pointer mx-2 md:hidden block">
	<ion-icon name="menu" onclick="Menu(this)"></ion-icon>
  </span>
</div>

<ul
  class="md:flex text-white md:items-center  md:z-auto z-40 md:static absolute bg-white md:bg-gray-800 text-black md:text-white w-full left-0 md:w-auto md:py-0 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500"
>
  <li class="mx-4 md:my-0 hover:bg-yellow-200 duration-1000 rounded py-3">
	<a href="/" class="text-xl hover:text-black">Home</a>
  </li>
  <li class="mx-4 md:my-0 hover:bg-yellow-200 duration-1000 rounded py-3">
	<a href="https://www.youtube.com/" class="text-xl hover:text-black" target="_blank">YouTube</a>
  </li>
  <li class="mx-4 md:my-0 hover:bg-yellow-200 duration-1000 rounded py-3">
	<a href="#" class="text-xl hover:text-black">Help</a>
  </li>
  <li class="mx-4 md:my-0 hover:bg-yellow-200 duration-1000 rounded py-3">
	<a href="#" class="text-xl hover:text-black">AboutUs</a>
  </li>

  <!-- <h2 class=""></h2> -->
</ul>
</nav>